:root {
    --main-green: #ffcc00; 
    --main-pink: #000044;
}
*{
    margin: 0; 
    padding: 0; 
}

a {
    text-decoration: none; 
}



#navbar {
    display: flex; 
    justify-content: flex-end;
    background-color: var(--main-green);
    position: fixed; 
    width: 100%;
    
}

.nav-list a {
    display: block; 
    padding: 1.5rem; 
    color: var(--main-pink); 
    font-size: xx-large;
}

.nav-list a:hover{
    background-color: rgb(73, 234, 255); 
    padding: 1.5rem; 
}

#welcome-section {
    background-color: rgb(4, 0, 46); 
    height: 100vh; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    color: gold;

}


h1 {
    font-size: 56px; 
}

h2 {
    font-size: 50px; 
    padding: 4rem;
    color:rgb(255, 225, 0)
}

ul {
    display: flex;
    list-style-type: none; 
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;  
    background-color: rgb(255, 112, 184);
    color: white; 
}

.project-tiles {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
}

#contact {
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color: rgb(4, 0, 46);
}

.contact-links {
    display: flex; 
    
}

.contact-links a {
    display: block; 
    padding: 2rem 3rem;
    font-size: xx-large;
}


footer {
    padding: 3rem; 
    text-align: center; 
    background-color: rgb(4, 0, 46);
    color: gold; 
}

figure {
    margin: 2rem; 
    color: rgb(238, 255, 0); 
}

figure img {
    width: 20rem; 
    height: 12rem; 
}

figure img:hover {
    box-shadow: 1px 1px 30px rgb(255, 255, 255);
}

figcaption {
    background-color: rgb(4, 0, 46);
    text-align: center;
    font-size: x-large;
}

figcaption:hover {
    background-color: rgb(62, 89, 92);
}

.contact-details {
    transition: transform 0.3s ease-out; 
    color: gold; 
}

.contact-details:hover {
    transform: translateY(8px);
    color:rgb(73, 234, 255);
}

@media (max-width: 75em) {
    html {
        font-size: 80%; 
        color: gold;
    }
}

@media (max-width: 75em) {
    html {
        font-size: 70%;
        color: gold;  
    }
}