* {
    margin: 0;
    box-sizing: border-box;
}

.pokeGrid {
    display: flex; 
    flex-wrap: wrap; 
    background-color:rgb(187, 255, 187);
}

.scene {
    width: 200px;
    height: 260px;
    margin: .5em; 
    perspective: 600px; 
    
}

.card {
width: 100%;
height: 100%;
cursor: pointer;
transition: transform 1s;
transform-style: preserve-3d;
position: relative; 
}

.cardFace {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.front {
    background-color: rgb(255, 255, 98);
}

.back {
    background: rgb(85, 255, 85); 
    transform: rotateY(180deg);
}

figure img {
    width: 200px;
}

figcaption {
    text-align: center; 
}