* {
    margin: 2px;
    padding: 0;
    box-sizing: border-box;
    
}

header {
    text-align: center;
}

body {
    background-image: linear-gradient(to right, rgb(32, 10, 0), rgb(158, 42, 0), rgb(32, 10, 0)); 
    color: white; 
    text-align: center; 
    
}

body img {
    border-radius: 10px; 
    box-shadow: 1px 1px 20px #000000;
}

body img:hover {
    box-shadow: 1px 1px 20px white;
}

.senatorsDiv {
    display: flex;
    flex-wrap: wrap;
}

main img {
    border-radius: 4px solid black;
}